*{
  margin: 0;
  padding: 0;
}
header{
  overflow: hidden;
  background-color: #100f0f;
  padding: 20px 10px;
  margin: 0;
  height: 70px;
  display: grid;
  grid-template-columns: 70% 30%;
  box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.2); 
}
header .logo{
  margin: auto;
  margin-left: 30px;
  height: 70px;
}
header nav{
  margin: auto;
  margin-right: 30px;
    
}
nav button{
  background-color: #100f0f;
  color: #e4e2dd;
  height: 30px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  
}
.pro{
  margin-right: 40px;
}


main{
  background-color: #f1f1f1;
  
}
main h1{
  font-size: 5rem;
  text-align: center;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}
main p{
  font-size: 1.5em;
  text-align: right;
  padding-right: 70px;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
}

#products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding: auto;
  margin-top: 60px;
}
.card {
  height:600px;
  width: 490px;
  background-color: transparent;
  padding: 1px;
  text-align: center;
  border-radius: 5px;
  margin: 20px 10px;
  font-family: "Poppins", sans-serif;
  margin-left: 30px;
  box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.2); 
}
.image{
  margin-top: 10px;
  overflow: hidden;
  height:470px;
  width: 430px;
}
.button{
  height: 40px;
  width: 290px;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  background-color: #494949;
  font-size: 20px;
  color: #e4e2dd;
  border: white;
  box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}